div.ad-title h1,
div.ad-title p {
  color: black;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0);
}

div.ad-title {
  padding: 2em;
  background-size: cover;
  background-position: center center;
}

div.container {
  margin-top: 20px;
}
